## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_Vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Riviere-Au-Renard,CA,50.29,overcast clouds,48.9957,-64.3971,Auberge Le Caribou
1,2,Zhangye,CN,53.31,overcast clouds,38.9342,100.4517,Zhangye Lvzhou Holiday Inn
2,3,San Javier,ES,71.64,few clouds,37.8063,-0.8374,Hotel Mar Menor
3,4,Kapaa,US,82.38,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
4,5,Bluff,NZ,52.81,light rain,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
...,...,...,...,...,...,...,...,...
467,669,Noumea,NC,78.01,broken clouds,-22.2763,166.4572,Hôtel Le Lagon
468,670,Sarkand,KZ,56.35,scattered clouds,45.4100,79.9186,Гостиница Сарканд
469,672,Mocuba,MZ,65.50,light rain,-16.8392,36.9856,Phama Lodge
470,674,Sao Miguel Do Araguaia,BR,81.09,overcast clouds,-13.2750,-50.1628,Hotel Executivo Palace
471,675,Nsukka,NG,77.13,overcast clouds,6.8561,7.3927,The AttaGate Hotels

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Ixtapa']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Ixtapa']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Tomatlan']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Coahuayana'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Lazaro Cardenas']

In [6]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
257,371,Ixtapa,MX,81.63,overcast clouds,20.7,-105.2,hotel la terminal

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0],vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0]

In [8]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
    start, end, waypoints = [stop1, stop2, stop3],
    travel_mode = "DRIVING")
fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,371,Ixtapa,MX,81.63,overcast clouds,20.7000,-105.2000,hotel la terminal
1,342,Tomatlan,MX,84.27,overcast clouds,19.9333,-105.2500,El Salvial
2,470,Coahuayana,MX,86.61,overcast clouds,18.7333,-103.6833,El rranchito michuacan de ocampos
3,434,Lazaro Cardenas,MX,85.73,broken clouds,17.9583,-102.2000,HOTEL QUINTA ANTIGUA

In [10]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [11]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
# 11b. Display the figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))